@import '../styles/_buttons';
@import '../styles/_titles';

.searching-title{text-align: center; margin-top: 40px;}
.mat-card-header, h3, app-offers-list {
  text-align: right !important;
}

.mat-card-header .mat-card-subtitle {
  font-size: 1rem;
}


.app-offers-list {
  .img-wrapper, .name-rapper {
    font-size: 14px;
    font-weight: bold;
    display: block;
  }

  .img-wrapper {
    margin-top: 20px;
  }

  img {
    width: 207px;
  }
}
.loan-info{
  padding: 20px 0;
  font-size: 16px;
  margin: 10px 15px;
}
