<div *ngIf="!finish; else done">
  <ng-template #showStepper>
    <mat-horizontal-stepper linear #stepper>
      <ng-template matStepperIcon="edit">
        <mat-icon class="done">done</mat-icon>
      </ng-template>
      <mat-step [stepControl]="frmStepOne | async">
        <app-id-number #stepOne></app-id-number>
      </mat-step>
      <mat-step [stepControl]="frmStepTwo | async">
        <app-otp #stepTwo></app-otp>
      </mat-step>
      <mat-step [stepControl]="frmStepThree | async">
        <app-queries #stepThree></app-queries>
      </mat-step>
      <mat-step [stepControl]="frmStepFour | async">
        <app-offers-list (next)="showLastStage()" #stepFour></app-offers-list>
      </mat-step>
    </mat-horizontal-stepper>
  </ng-template>
  <app-loan-details
    (next)="finishLastStage()"
    *ngIf="showLoanDetails; else showStepper"
  ></app-loan-details>
</div>
<ng-template #done>
  <div class="finish">
    <ng-lottie [options]="finishLottie"></ng-lottie>
  </div>
</ng-template>



