<form [formGroup]="frmStepThree" (ngSubmit)="nextStage()">
  <mat-card class="app-queries">
    <mat-card-header>
      <mat-card-title>
        אוטוטו צוללים להגשמת החלום,
        לפני כן עוד כמה שאלות:
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h3> האם בשנתיים הקרובות אתה מתכוון לקנות דירה? </h3>
      <section class="radio-group-section">
        <mat-radio-group formControlName="occupation">
          <mat-radio-button value="{{occupations.Employee}}"> כן </mat-radio-button>
          <mat-radio-button value="{{occupations.SelfEmployee}}"> לא </mat-radio-button>
                   <mat-error *ngIf="!formControl('occupation').valid && isSubmitted">
            {{ titleAlert }}
          </mat-error>
        </mat-radio-group>
      </section>

      <h3> האם הדירה שאתה מתגורר בבעלותך? </h3>
      <section class="radio-group-section" >
        <mat-radio-group formControlName="accommodation">
          <mat-radio-button value="{{accommodations.Bought}}"> כן </mat-radio-button>
          <mat-radio-button value="{{accommodations.NoneBought}}"> לא </mat-radio-button>
        </mat-radio-group>
        <mat-error *ngIf="!formControl('accommodation').valid && isSubmitted">
          {{ titleAlert }}
        </mat-error>
      </section>
    </mat-card-content>
    <mat-card-actions dir="ltr">
      <div class="btn-grad-actions">
        <button
          class="btn-grad"
          type="submit"
          matStepperNext
          mat-button
        >
          הבא
        </button>
        <button
          class="btn-grad"
          matStepperPrevious
          type="submit"
          mat-button
        >
          הקודם
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
