
@import '../styles/_buttons';
@import '../styles/_titles';

.app-queries {
  mat-radio-group {
    display: flex;
    flex-wrap: wrap;
    > * {
      margin: 6px;
    }
  }


  .mat-card-content {
    align-items: start;
  }

}
